html, body {
    height: 100%; /* Ensures the container fills the full page height */
    margin: 0;
    padding: 0;
    font-family: Figtree,Helvetica Neue,Helvetica,sans-serif;
    font-size: 12px;
}
#landing {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  background-color: white; 
  z-index: 9999;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
#content {
  display:none;
}
.landing_row {
  flex: 1;
}
